nav{
    border-bottom: 2px solid #f3f3f3;
    z-index: 999;
    margin-left: 5rem;
}
input{
    padding: 10px 20px;
    padding-right: 40px;
    border: none;
    background: #f7f6f6;
    outline: none;
    border-radius: 5px;
    position: relative;
   
}
.NavIcons .icon{
    width: 1.5rem;
    height:  1.5rem;
    margin-left: 2rem;
    color: #000;
}